table, td{
  border: 1px solid black;
  overflow: hidden;
}

table{
  width: 100% ;  
}

em,i{
  width: 4.456em;
  line-height: 1;
  font-size: 0.7em;
  font-style: normal;
  overflow: hidden;
}

strong {
    font-size: 0.8em;
    font-weight: normal;
}

.questionDiv{
  text-align: center;
  border: 1px solid black;
}